@include mq(sm) {
  .results {
    &__list {
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
    }
  }
}
@include mq(md) {
  .desktop-nav {
    display: block;
    ul {
      display: flex;
      align-items: center;
      gap: rem(34);
      a {
        position: relative;
        font-weight: 600;
        font-size: rem(18);
        line-height: 1.4;
        letter-spacing: 0.01em;
        color: var(--text-primary);
        &:hover {
          color: var(--color-lite);
        }
        &::before {
          content: "";
          position: absolute;
          bottom: -4px;
          right: 0;
          width: 0%;
          height: 2px;
          background-color: var(--primary);
          transition: var(--transition);
        }
        &:hover::before {
          width: 100%;
          right: unset;
          left: 0;
        }
      }
    }
  }
  .burger {
    display: none;
  }
  .header {
    &__btn {
      display: inline-flex;
    }
  }

  .mobile-nav,
  .overlay {
    display: none;
  }

  .results {
    padding: var(--spacing-xl) 0;
    &__list {
      grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
      gap: var(--spacing-sm);
      justify-content: space-between;
    }
  }

  // .choose {
  //   &__pictures {
  //     grid-template-columns: repeat(2, 1fr);
  //     grid-template-rows: repeat(2, auto);
  //     gap: var(--spacing-md);
  //   }
  //   .img-1 {
  //     grid-column: 1 / 2;
  //     grid-row: 1 / 2;
  //   }
  //   .img-2 {
  //     grid-column: 2 / 3;
  //     grid-row: 1 / 3;
  //   }
  //   .img-3 {
  //     grid-column: 1 / 2;
  //     grid-row: 2 / 3;
  //   }
  // }
  .mentor {
    &__inner {
      max-width: rem(1250);
      grid-template-columns: 1fr 1fr;
      justify-self: center;
      gap: clamp(1.875rem, -8.8393rem + 22.3214vw, 5rem);
    }
    &__content {
      max-width: rem(602);
      padding: rem(23) 0;
    }
  }
}

@media (min-width: 992px) {
  .choose {
    &__wrapper {
      grid-template-columns: 1fr 1fr;
      align-items: start;
      gap: var(--spacing-xl);
    }
    &__list {
      grid-template-columns: 1fr;
    }

    &__pictures {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, auto);
    }
    .img-1 {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }
    .img-2 {
      grid-column: 2 / 3;
      grid-row: 1 / 3;
    }
    .img-3 {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
    }
  }
}
@include mq(lg) {
  .header {
    padding: rem(20) 0;
  }
  .hero__content {
    max-width: rem(600);
  }
  .btn {
    padding: rem(12) rem(24);
  }
  .choose {
    padding: rem(125) 0;
  }
}

@include mq(xl) {
  .choose {
    &__wrapper {
      grid-template-columns: 1.75fr 1.25fr;
      align-items: center;
    }
    &__list {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      align-items: start;
    }

    &__item {
      max-width: rem(400);
    }
    .item-1 {
      grid-column: 1 / 3;
      grid-row: 1 / 2;
      justify-self: center;
    }
    .item-2 {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
    }
    .item-3 {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
    }
    &__pictures {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, auto);
    }
    .img-1 {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }
    .img-2 {
      grid-column: 2 / 3;
      grid-row: 1 / 3;
    }
    .img-3 {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
    }
  }
}

@include mq("2xl") {
  .logo {
    width: rem(88);
    height: rem(84);
    img {
      width: 100%;
    }
  }
  .desktop-nav ul {
    a {
      font-size: rem(24);
    }
  }
  .btn {
    padding: rem(16) rem(28);
    font-size: rem(20);
  }
}
