.meet {
  &__items {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--spacing-xs);
  }

  &__item {
    border-radius: rem(12);
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center top;
      transition: var(--transition);
    }
    @media (prefers-reduced-motion: no-preference) {
      &:hover img {
        transform: scale(1.1);
      }
    }
  }
}
