:root {
  // ===== ЦВЕТА =====
  --bg-dark: #0a0a0a;
  --bg-card: #141414;
  --primary: #b91c1c;
  --primary-hover: #d00000;
  --text-primary: #333333;
  --text-secondary: #e0e0e0;
  --title-color: #111111;
  --button-color: #212121;
  --border-color: #f5f5f5;
  --color-lite: #ffffff;
  --bg-body: #ffffff;

  // ===== ОТСТУПЫ (через rem()) =====
  --spacing-xs: #{rem(8)};
  --spacing-sm: #{rem(16)};
  --spacing-md: #{rem(24)};
  --spacing-lg: #{rem(32)};
  --spacing-xl: #{rem(48)};

  // ===== ШРИФТЫ =====
  --font-family: "Rubik", sans-serif;
  // ===== РАЗМЕРЫ ШРИФТОВ =====
  --text-sm: #{rem(14)};
  --text-base: #{rem(16)};
  --text-lg: #{rem(18)};
  --text-xl: #{rem(24)};
  --text-2xl: #{rem(32)};

  // ===== ДРУГОЕ =====
  --radius: #{rem(8)};
  --container: #{rem(1435)};
  --transition: all 0.3s ease;
}
